<!-- <mat-toolbar>My App</mat-toolbar> -->

<header class="mat-toolbar" color="primary">
    <span> {{appName}} </span>
     <nav id="nav">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="https://www.facebook.com/officialrajdeepsingh/" target="_blank">About</a></li>
            <li><a href="https://www.facebook.com/officialrajdeepsingh/" target="_blank">Contact</a></li>
        </ul>
    </nav>   
</header>

<!-- angular coding part -->

<main>
    <app-color></app-color>
    
</main>




<footer class="mat-toolbar">
    <span> {{appName}}  </span>
    <nav id="nav">
        <ul>
            <li><a href="https://www.facebook.com/officialrajdeepsingh/" target="_blank">About</a></li>
            <li><a href="https://www.facebook.com/officialrajdeepsingh/" target="_blank">Contact</a></li>
        </ul>
    </nav>
</footer>

<router-outlet></router-outlet>

